/*Root*/
body{
    margin: 0;
}
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.display-flex{
    display: flex;
}
/*Head*/
header{
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 15px;
    width: 100%;
}
/*Nav*/
.brand{
    color: black;
    font-weight: bold;
    font-family: 3rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-manu{
    list-style: none;
}
.nav-item{
    margin-left: 30px;
}
.nav-item a{
    text-decoration: none;
    color: #727272;
    font-size: 18px;
    font-weight:500;
}
.navbar, .banner{
    max-width: 1000px;
    margin: 0 auto;
}
/*Banner*/
.banner{
    align-items: center;
    margin: 0 auto;
    margin-bottom: 40px;
}
.banner-content{
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: -10px;
}
.banner-desc{
    font-size: 16px;
    font-weight: normal;
    color: rgba(114, 114, 114, 1);
}
.banner-img{
    display: block;
    width: 850px;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
}
.banner-btn{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px ;
}

/*Main*/
/*Footer*/

/*Responsive*/
@media screen and (max-width: 575px) and (min-width: 400px) {
    header {
        padding-bottom: 15px;
        width: 100%;
    }

    .brand {
        font-size: 1.4rem;
    }

    .navbar,
    .nav-manu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-manu {
        margin-top: -10px;
        flex-direction: row;
        gap: 60px;
    }

    .nav-item {
        margin-left: -30px;
    }

    .banner {
        align-items: center;
        margin: 0 auto;
    }

    .banner-content {
        max-width: 280px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }

    .banner-title {
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 0;
    }

    .banner-desc {
        margin-bottom: 20px;
    }

    .banner-btn {
        padding: 12px 18px;
        font-size: 16px;
    }

    .banner-img {
        width: 280px;
        display: block;
        margin: 0 auto;
        border-radius: 8px;
    }
}
@media screen and (max-width: 576px) {
    header{
        padding-bottom: 15px;
        width: 100%;
    }
    .brand{
        font-size: 1.4rem;
    }
    .navbar, .nav-manu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-manu{
        margin-top: -10px;
        flex-direction: row;
        gap: 60px;
    }
    .nav-item {
        margin-left:-30px;
    }
    .banner{
        align-items: center;
        margin: 0 auto;
    }
    .banner-content {
        max-width: 380px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }
    .banner-title{
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 0;
    }
    .banner-desc{
        margin-bottom:20px;
    }
    .banner-btn{
        padding: 12px 18px;
        font-size: 16px;
    }
    .banner-img{
        display: none;
    }
}
@media screen and (max-width: 768px) and (min-width: 577px) {
/*Nav*/
    .brand {
        font-family: 3rem;
    }
    .navbar {
        justify-content: space-around;
    }
    /*Banner*/
    .banner {
        margin-bottom: 30px;
    }

    .banner-content {
        max-width: 620px;
        margin-bottom: 30px;
    }

    .banner-title {
        font-size: 2.8rem;
    }
    .banner-img {
        width: 280px;
    }

    .banner-btn {
        padding: 13px 20px;
        font-size: 17px;
    }
} 
@media screen and (max-width: 992px) and (min-width: 769px) {

    /*Nav*/
    .brand {
        font-family: 3rem;
    }

    .navbar {
        justify-content: space-around;
    }

    /*Banner*/
    .banner {
        margin-bottom: 30px;
    }

    .banner-content {
        max-width: 700px;
        margin-bottom: 30px;
    }

    .banner-title {
        font-size: 3rem;
    }

    .banner-img {
        width: 720px;
    }

    .banner-btn {
        padding: 13px 20px;
        font-size: 17px;
    }
}
    